<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-3">
        <div class="content">
          <div class="brand">
            <img src="{% asset shared/dart/logo+text/horizontal/mono.svg @path %}" alt="Dart логотип" class="brand"/>
          </div>
          <h4><a href="/terms">Правила</a> | <a href="https://policies.google.com/privacy">Конфиденциальность</a></h4>
          <style>.menu .material-icons { font-size: 14px; }</style>
          {%- assign dateFormat = '%Y/%m/%d %R %Z' -%}
          <ul class="menu">
            <li>Сайт&nbsp;<a href="http://creativecommons.org/licenses/by/3.0/" class="no-automatic-external">CC&nbsp;BY&nbsp;3.0</a></li>
            <li>
              <a href="{{site.repo.this}}"
                 title="Исходники этого сайта на GitHub."
                 class="no-automatic-external"><i class="fab fa-github fa-sm"></i></a>
              &nbsp;
              <a href="{{site.repo.this}}/issues"
                 title="Задать issue об этом сайте."
                 class="no-automatic-external"><i class="fas fa-bug fa-sm"></i></a>
              &nbsp;
              <a {% if site.data.ci.job-id %}
                 href="{{site.repo.this | regex_replace: 'github.com','travis-ci.org'}}/jobs/{{site.data.ci.job-id}}"
                 title="Сайт собран #{{site.data.ci.build-number}} ({{site.data.ci.build-time | date: dateFormat}})"
                 {% else %}
                 title="Сайт собран {{site.now | default: site.time | date: dateFormat}}"
                 {% endif %}
                 class="no-automatic-external"><i class="material-icons">build</i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="content">
          <h4>Технологии</h4>
          <ul>
            <li><a href="{{site.flutter}}">Мобильный (Flutter)</a></li>
            <li><a href="{{site.webdev}}">Dart для web</a></li>
            <li><a href="{{site.dart_vm}}">Серверный Dart</a></li>
            <li><a href="https://dart-lang.github.io/observatory/">Observatory</a></li>
            <li><a href="/guides/libraries">Dart библиотеки</a></li>
            <li><a href="/guides/language">Dart язык программирования</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="content">
          <h4>Ресурсы</h4>
          <ul>
            <li><a href="{{site.dart_api}}/{{site.data.pkg-vers.SDK.channel}}">API ссылка</a></li>
            <li><a href="https://dartpad.dartlang.org/">DartPad</a></li>
            <li><a href="https://pub.dartlang.org/">Pub пакеты</a></li>
            <li><a href="http://news.dartlang.org/">Dart новости</a></li>
            <li><a href="https://github.com/dart-lang/sdk/issues">Dart баги и <br> запросы на функционал</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="content">
          <h4>Сообщество</h4>
          <ul>
            <li><a href="/community">Поддержка и почтовый список</a></li>
            <li><a href="/community/who-uses-dart">Кто использует Dart</a></li>
            <li><a href="http://stackoverflow.com/questions/tagged/dart">Stack Overflow</a></li>
            <li>G+ <a href="https://plus.google.com/communities/114566943291919232850">сообщество</a> &
                <a href="https://plus.google.com/b/109866369054280216564/+dartlang">группа объявлений</a></li>
            <li><a href="https://gitter.im/dart-lang/home">Чат-комната в Gitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
