---
layout: homepage
title: Язык программирования Dart
description: Dart - язык, оптимизированный для разработки клиентской и серверной частей веб приложений, а также мобильной разработки.
---
<section id="code-sample-section">
  <div class="container">

    {% if site.show_banner %}
    <div class="row banner__frontpage-row">
      <div class="col-md-12">
        <div class="content">
          {% include banner.html %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-md-7 col-xl-6">
        <div id="code-sample" class="content">
          <a href="https://dartpad.dartlang.org/fae22cffa7b184b4d27cd96dd633a5af"
            class='codesample__open-in-dartpad no-automatic-external'
            target='_blank'>Открыть в DartPad</a>
          {% include_relative _main-example.html %}
        </div>
      </div>
      <div class="col-md-5 col-xl-6">
        <div class="content">
          <div class="frontpage-slogan-with-footnotes">
            <div class="frontpage-slogan">
              <h3>
                Dart помогает вам создавать прекрасные, высоко-качественные решения на всех экранах:
                <ul>
                  <li><a tabindex="0" role="button" data-toggle="popover" data-content="Dart начал с оптимизации для веб-приложений и развивается, чтобы обеспечить отличную поддержку мобильных приложений. Dart также работает в командной строке и на стороне сервера.">Оптимизированный для фронтенда</a>
                  </li>
                  <li>Солидные, мощные <a tabindex="0" role="button" data-toggle="popover" data-content="Для мобильных приложений мы рекомендуем <a href='https://flutter.io'>Flutter</a>. Для настольных <a href='{{site.webdev}}/angular'>AngularDart</a>."> фреймворки</a>
                    </li>
                  <li>Восхитительный, гибкий <a tabindex="0" role="button" data-toggle="popover" data-content="Они варьируются от <a href='/tools'>иструментов общего назначения</a> до специфичных для конкретного фреймворка, таких как <a href='https://flutter.io/getting-started'><code>flutter</code> tool</a>.">инструменты</a>
                  </li>
                </ul>
                <p>
                  <a href="/guides/get-started" class="btn btn-primary btn-resizable mr-3">Начать</a>
                  <a href="/install" class="btn btn-light btn-resizable">Установить Dart</a>
                </p>
              </h3>
              <p> <em>Нажмите на
                  <a tabindex="0" role="button" data-toggle="popover" data-content="В тексте выше и в примерах кода, нажмите на линию из точек, чтобы получить более детальную информацию.">подчёркнутый текст
                  </a>
                  чтобы узнать больше.</em> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="card-grid-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <div class="card-grid">
            <div class="card">
              <h4><a href="/guides/language/language-tour">Тур по языку</a></h4>
              <p>Изучите как использовать главные возможности языка Dart.</p>
            </div>
            <div class="card">
              <h4><a href="/guides/platforms">Платформы</a></h4>
              <p>Используйте Dart для разработки мобильных приложений, веб приложений и не только.</p>
            </div>
            <div class="card">
              <h4><a href="https://pub.dartlang.org/">Dart пакеты</a></h4>
              <p>Ищите библиотеки и инструменты которые помогут вам создавать приложения.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xl-4">
        <div class="content">
          <h1>Почему Dart?</h1>
          <p class="lead">
            Разработчики в Google и все остальные используют Dart для создания высоко-качественных приложений и
            решения высоко-критичных задач для iOS, Android и web. С возможностями нацеленными на клиентскую разработку,
            Dart отлично подходит как для мобильных приложений, так и для web.
          </p>

          <p class="lead">
	    Dart свободный и открытый,
	    разрабатывамый <a href="https://github.com/dart-lang">на GitHub.</a>
          </p>
        </div>
      </div>
      <div class="col-md-7 col-xl-8">
        <div class="content">

          <h2 class="core-goals__first">Продуктивный</h2>
          <p>
            Синтаксис языка Dart чист и краток,
            его инструментарий простой и мощный.
            Звучная типизация помогает вам обнаружить тонкие ошибки заблаговременно.
            Dart имеет закалённую в бою
            <a href="/guides/libraries/library-tour">стандартную библиотеку</a> и
            <a href="https://pub.dartlang.org/">экосистему</a> из
            тысяч пакетов.
          </p>

          <h2>Быстрый</h2>
          <p>
            Dart предоставляет оптимизированную AOT компиляцию, чтобы получить предсказуемо высокую производительность и быстрый запуск
            на различных устройствах и на web.
          </p>

          <h2>Портативный</h2>
          <p>
            Dart компилируется в архитектуры ARM и x86, чтобы мобильные приложения на Dart могли запускаться нативно на iOS,
            Android и за их пределами. Для web приложений Dart транспилируется в JavaScript.
          </p>

          <h2>Доступный</h2>
          <p>
            Dart покажется знакомым большинству существующих разработчиков,
            благодаря объектной ориентации без сюрпризов и синтаксису.
            Если вы уже знаете C++, C# или Java, вы можете быть продуктивным с Dart уже через несколько дней.
          </p>

          <h2>Реактивный</h2>
          <p>
            Dart полностью подходит для реактивного программирования с поддержкой управления коротко-живующими объектами, такими как
            UI виджеты, с помощью быстрого выделения объектов и сборщика мусора. Dart поддерживает асинхрнонное программирование с помощью
            возможностей языка и API, которые используют
            <a href="/guides/libraries/library-tour#future">Future</a> и
            <a href="/guides/libraries/library-tour#stream">Stream</a> объекты.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
